body {
  margin: 0;
  height: 100%;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 14px;
}

a{
  color: #282828;
}


.wrap {
  background: #eee;
  width: 40%;
  min-width: 540px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 5%;
}

.form-and-result {
  padding: 30px 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background: white;
  box-shadow: 7px 7px 39px -5px rgba(0, 0, 0, 0.75);
}

.input-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

#search {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  margin-right: 10px;
  padding: 8px 30px;
  background: white;
}

#submit {
  padding: 8px;
  font-weight: bold;
  
}

.user-wrap {
  text-align: left;
  padding: 15px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  display: none;
}

.username,
.full-name,
.bio {
  margin: 0;
  padding: 1px 0 5px 10px;
}

.username, .bio{
  font-size: 14px;
}

.full-name{
  font-size: 24px;
}

.user-not-found{
  background: #FF9595;
  color: #B73232;
  padding: 5%;
  border-radius: 5px;
  border: 1px solid #B73232;
}


#avatar {
  width: 80px;
  height: 80px;
  border-radius: 5%;
  float: left;
  margin: 0 15px 0 0;
}

#repo-list {
  display: none;
}

.ul-title {
  margin: 5% 0 0 0;
  border-bottom: 2px solid #7E7C7C;
  clear: both;
  padding-bottom: 10px;
}

#list {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

#list li {
  border-bottom: 1px solid #D6D6D6;
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
}

#list li h3 {
  margin: 0;
  float: left;
  font-weight: bold;
}

#list li span {
  float: right;
}


